pkgbase = intel-ipu7-camera-sc200pc
	pkgdesc = Patchable SC200PC-focused replacement for intel-ipu7-camera on Panther Lake
	pkgver = 1.0.3
	pkgrel = 4
	url = https://github.com/TsaiGaggery/hurrican_omarchy_enabling
	install = intel-ipu7-camera-sc200pc.install
	arch = x86_64
	license = GPL-2.0-or-later
	license = custom:Intel proprietary camera tuning
	makedepends = git
	makedepends = base-devel
	makedepends = cmake
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = pkgconf
	depends = v4l2loopback-dkms
	depends = v4l2-relayd
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = jsoncpp
	depends = libdrm
	depends = sc200pc-dkms
	depends = sc200pc-ipu75xa-config
	provides = intel-ipu7-camera
	conflicts = intel-ipu7-camera
	source = ipu7-camera-bins::git+https://github.com/intel/ipu7-camera-bins.git#commit=403c67db6b279dd02752f11db6a34552f31a3ac5
	source = ipu7-camera-hal::git+https://github.com/intel/ipu7-camera-hal.git#commit=b1f6ebef12111fb5da0133b144d69dd9b001836c
	source = icamerasrc::git+https://github.com/intel/icamerasrc.git#commit=4fb31db76b618aae72184c59314b839dedb42689
	source = README.md
	source = camera-init.service
	source = camera-sleep-hook
	source = 71-ipu7-hide-isys.rules
	source = 90-ipu7-psys.rules
	source = disable-libcamera.conf
	source = hide-ipu7-v4l2.conf
	source = pipe_scheduler_profiles.json
	source = ipu7.conf
	source = v4l2-relayd-override.conf
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = intel-ipu7-camera-sc200pc
